.wrapper{
    width: 98%;
    margin:0 auto;
}
#navbarsection div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbarsection div ul li{
    padding: 10px 0;
    width: 100%;
    white-space: nowrap;

}
#navbarsection div ul li:hover{
    background-color: red;
}

#navbarsection .details ul{
    flex-direction: row;
    flex-wrap: wrap;
    
}
#navbarsection .details ul li{
    font-size: 15px;
    padding: 0;
}