.wrapper{
    width: 98%;
    margin:0 auto;
}
#navbarsection div ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#navbarsection div h6{
    font-size: 20px;
    margin: 10px 0;
}

#navbarsection div ul li{
    font-size: 15px;
    border-radius: 10px;
    padding: 10px 0px;
    width: 100%;
    white-space: nowrap;
}

#navbarsection div ul li i{
    font-size: 20px;
    width: 30px;
}

#navbarsection div h5{
    color: #ffffff;
    margin-top: 20px;
    font-size: 20px;
}



#navbarsection hr{
    margin: 10px 0;
}

#navbarsection div ul li:hover{
    background-color: rgb(54, 54, 54);
}

#navbarsection .details ul{
    display: flex;
    flex-direction: row;
    justify-content: start;
    
}
#navbarsection .details ul li{
    font-size: 15px;
    border-radius: 10px;
    width: min-content;
    padding: 0px 3px;
}

#catogary ul{
    scrollbar-width: none;
}

@media (max-width: 1440px) {
    #navbarsection div ul li{
        font-size: 15px;
        padding: 8px 12px;
    }

    #navbarsection div ul li div{
        width: 30px;
        font-size: 15px;
    }
}
@media (max-width: 1280px) {
    #navbarsection div ul li{
        /* font-size: 13px; */
        padding: 7px 10px;
    }
    #navbarsection div ul li i{
        font-size: 15px;
        width: 30px;
    }
}